.car-add-new {
  height: 100vh;
  margin-top: 70px;
  margin-left: 150px;
  width: 1300px;
  padding: 0 1rem;

  .car-add-new__container {
    height: 80%;
    padding: 2rem;
    display: flex;
    flex-direction: column;

    .car-add-new__form {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
