// display
@mixin df-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.df-center {
  @include df-center;
}

// background
@mixin bg($bg: $primary) {
  background: $bg;
}

.bg-secondary {
  @include bg($secondary);
}

.bg-washout {
  @include bg(#5568c1);
}
