.add-car-page {
  display: flex;
  position: relative;
  width: 95%;

  .nav-container {
    width: 250px;
    height: 100vh;
    left: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: white;
  }
}
