.breadcrumb {
  width: 500px;

  .breadcrumb-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;

    p {
      font-weight: 600;
    }

    div > * {
      // text-decoration: underline;
      color: rgb(45, 109, 206);
    }
  }
}
