.dashboard {
  // height: 100vh;
  margin-top: 70px;
  margin-left: 150px;
  max-width: 1300px;
  padding: 0 1rem;

  .dashboard-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }
}
